html,
body {
  margin: 0;
  padding: 0;
  background-color: darkblue;
}

* {
  box-sizing: content-box;
}

.content {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0);
  font-size: 50px;
  color: white;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#greycolored{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:1000px;
  height:765px;
}

#movethefrog{
  display: flex;
  height:35px;
  width:35px;
  transform:translate(-343px,220px);
}

.square{
  height:400px;
  width:400px;
  background-color:rgba(255, 255, 255, 0.5);
  padding:20px;
  border-color: black;
  border-width: thick;
  text-align: center;
  transform: translate(-500px,-500px);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
