html,
body {
  margin: 0;
  padding: 0;
  background-color: darkblue;
}

* {
  box-sizing: content-box;
}

/* container that is overlaid on top of the background vid */
.content {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0);
  font-size: 50px;
  color: white;
}

/* video container */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* set up of the grey person */
#greycolored{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:1000px;
  height:765px;
}


/* positioning of the frog link */
#movethefrog{
  display: flex;
  height:35px;
  width:35px;
  transform:translate(-343px,220px);
}

/* Keyframes for Red Transition-------------------------------------------------------------------------
----------------------------------------------------------------------------- */
.hideOverlayRed{
  display:none;
  height:100px;
  width:100px;
  background-color: rgba(255, 0, 0, 0.5);
}
.showOverlayRed {
  display: flex;
  height:100px;
  width:100px;
  background-color: rgba(255, 0, 0, 0.5);
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* mobile responsive section */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
