
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

@font-face {
  font-family: 'Montserrat Subrayada', sans-serif;
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal; */
}

.pinky{
  background-color: black;
  

}
<div class = "pinky">
/* This is a div class from level 2. It indicates that there is a type selector present,
that type selector being the div element  */
  <ghost>
  <pacman>

    <pacman />
  </ghost>
  </div>

.my-fun-class {
  width: 40%;
  border: 2px solid forestgreen;
  display: block;
  margin: auto;
}

img {
  width: 40%;
  padding: 2em;
}
