/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
< !-- WEBSITE FOR HOW TO CHANGE CURSOR: https: //css-tricks.com/almanac/properties/c/cursor/-->

.custom {
  cursor: url(C:\Users\fiona\Documents\intro_to_web\git\web-nyu-idm\css-diner\images\pacman.png), alias;
}

.heading {
  background-color: black;
  color: yellow;
  padding: 40px;
  text-align: center;
}

h1.heading {
  font-size: 100px;
  font-family: 'Press Start 2P', cursive;
}

h2.heading {
  font-size: 50px;
  font-family: monospace;
}

/* This is my code based on level 6. It is a class selector that I use to color my ordered list at the bottom. This creates a class that can customise attributes in my html code, but is not a unique id unlike a descenendant selector. */
.pixelbyte {
  background-color: yellow;
  padding: 40px;
  text-align: left;
}

ul.pixelbyte {
  font-family: 'Press Start 2P', cursive;
  color: black;
}

p.pixelbyte {
  background-color: black;
  font-family: monospace;
  color: red;
}

.centerme{
  align-items: center;
  align-content: center;
  align-self: center;
  padding-left: 500px;
  padding-right: 500px;
}

table.centerme{
  font-size: 50px;
  color:orange;
}

.makemecolor{
  color:pink;
  align-items: center;
}

/* This is a first child selector from level 15. It selects the first child of any parent attribute. I set it to select any p tag that was a first child. */
p:first-child{
  color:green;
  font-size: 50px;
}

/* This is an nth-child selector from level 18. It selects a specified number of the child of an element and changes that attribute. I turned my 5th h3 tag on my website darkred. */
h3:nth-child(5){
  color:darkred;
}



/* This is my code based on level 5. It is an id selector which means it selects a unique attribute in my html class. */
#blinky {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: red;
  padding: 10px;
  text-align: center;
}

#pinky {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: pink;
  padding: 10px;
  text-align: center;
}

#inky {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: lightblue;
  padding: 10px;
  text-align: center;
}

#clyde {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: orange;
  padding: 10px;
  text-align: center;
}
