
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

<!-- WEBSITE FOR HOW TO CHANGE CURSOR: https://css-tricks.com/almanac/properties/c/cursor/-->

.custom {
  cursor: url(C:\Users\fiona\Documents\intro_to_web\git\web-nyu-idm\css-diner\images\pacman.png), alias;
}

.heading{
  background-color: black;
  color:yellow;
  padding:40px;
  text-align: center;
}

/* This is my code based on level 6. It is a class selector that I use to color my ordered list at the bottom. This creates a class that can customise attributes in my html code, but is not a unique id unlike a descenendant selector. */
.pixelbyte{
  background-color: yellow;
  font-family: 'Press Start 2P', cursive;
  color:black;
  padding:40px;
  text-align: left;
}

/* This is my code based on level 5. It is an id selector which means it selects a unique attribute in my html class. */
#blinky{
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: red;
  padding:10px;
  text-align: center;

}

#pinky{
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: pink;
  padding:10px;
  text-align: center;

}

#inky{
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: lightblue;
  padding:10px;
  text-align: center;

}

#clyde{
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: orange;
  padding:10px;
  text-align: center;

}

/* This is my code based on level 10. It is a universal selector with an asterisk. This means that
the attribute of the font family will be applied to all elements that have text. */
*{
  font-family: 'Press Start 2P', cursive;
}
