html,
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.content {
  display: block;
  justify-content: center;
  align-content: center;
  background: rgba(0, 0, 0, 0);
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  margin: 15px;
}

.romantic {
  font-size: 140px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  justify-content: center;
  transform: translate(10%);
  color: pink;
  text-shadow: black 2px 2px;
}

.square {
  height: 200px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15px;
  border-color: black;
  border-width: thick;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#myVideo {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

a {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  color: lightblue;
  text-shadow: darkblue 2px 2px;
  text-decoration-style: dotted;
  text-align: center;
}

.magic {
  width: 100px;
  height: 50px;
  color: blue;
  background-color: lightyellow;
}

/* Source:https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: Galaxy S5, iPhone X, and iPhone 6/7/8 Portrait modes */
  [class*="col-"] {
    width: 90%;
    float: none;
  }

  .romantic {
    font-size: 80px;
    transform:translate(-2%);
  }
}
