html,
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* container that is overlaid on top of the background vid */
.content {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0);
  font-size: 50px;
  color: white;
}

/* video container */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* set up of the grey person */
#greycolored {
  display: flex;
  justify-content: flex-start;
  width: 550px;
  height: 750px;
}

/* positioning of the frog link */
#movethefrog {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 35px;
  width: 35px;
  transform: translate(-330%, 650%);
}

.square {
  height: 700px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0);
}

#gardenButton {
  border-color: black;
  border-radius: 8px;
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  width: 160px;
  height: 50px;
  background-color: darkgreen;
  background-image: image("images/grass.jpg");
  color: lightgreen;
  visibility: visible;
}

#rainButton {
  border-color: black;
  border-radius: 8px;
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  width: 160px;
  height: 50px;
  background-color: blue;
  background-image: image("images/water.jpg");
  color: lightblue;
  visibility: visible;
}

#inspireButton {
  border-color: black;
  border-radius: 8px;
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  width: 160px;
  height: 50px;
  background-color: purple;
  background-image: image("images/purplemagic.jpg");
  color: lavender;
  visibility: visible;
}

#gatewayButton {
  border-color: black;
  border-radius: 8px;
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  display: none;
  width: 160px;
  height: 50px;
  background-color: lavender;
  background-image: image("images/puff.jpg");
  color: purple;
}

/* Sources for Media widths: https://gist.github.com/needim/d15fdc2ac133d8078f7c */

/* Galaxy S5 portrait */
@media screen and (min-device-width: 360px) and (max-device-width: 361px) and (min-device-height: 640px) and (max-device-height: 641px) and (-webkit-device-pixel-ratio: 3) {
  .content {
    position:absolute;
    display: flex;
    z-index: 1;
  }

  #myVideo {
    position:absolute;
    display: flex;
    top:0px;
    left:0px;
    width:600px;
    height:1200px;
    z-index: -1;
    transform:translate(-50%,-40%);

  }

  #greycolored {
    position:absolute;
    display: flex;
    width:120px;
    height:220px;
    z-index: 2;
    transform:translate(-8%,0);
  }

  #movethefrog {

  }

  .square {
    display:none;
  }

  #gardenButton {

  }

  #rainButton {

  }

  #inspireButton {

  }

  #gatewayButton {

}
}

/* iPhone X in portrait & landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {

}

/* iPad in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}
