html,
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* * {
  box-sizing: content-box;
} */

/* container that is overlaid on top of the background vid */
.content {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0);
  font-size: 50px;
  color: white;
}

/* shift the link to another page, but working on delaying it in JavaScript */
#shiftToPage{
  color: black;
  background color:yellow;
  width: 50px;
  height: 50px;
}

/* video container */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* set up of the grey person */
#greycolored{
  display:flex;
  justify-content: flex-start;
  width: 550px;
  height:750px;
}

/* positioning of the frog link */
#movethefrog{
  display: flex;
  height:35px;
  width:35px;
  transform:translate(-330%,650%);
}

.square {
  height: 700px;
  width: 100px;
  background-color:rgba(0,0,0,0);
}

#gardenButton{
  border-color:black;
  border-radius: 8px;
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  width:160px;
  height:50px;
  background-color: darkgreen;
  background-image: image("images/grass.jpg");
  color:lightgreen;
  visibility: visible;
}

#rainButton{
  border-color:black;
  border-radius: 8px;
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  width:160px;
  height:50px;
  background-color: blue;
  background-image: image("images/water.jpg");
  color:lightblue;
  visibility: visible;
}

#inspireButton{
  border-color:black;
  border-radius: 8px;
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  width:160px;
  height:50px;
  background-color: purple;
  background-image: image("images/purplemagic.jpg");
  color:lavender;
  visibility: visible;
}

#gatewayButton{
  border-color:black;
  border-radius: 8px;
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  display:none;
  width:160px;
  height:50px;
  background-color: lavender;
  background-image: image("images/puff.jpg");
  color:purple;
}

/* mobile responsive section */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
