html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* * {
  box-sizing: content-box;
} */

/* container that is overlaid on top of the background vid */
.content {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0);
  font-size: 50px;
  color: white;
}

/* shift the link to another page, but working on delaying it in JavaScript */
#shiftToPage{
  color: black;
  background color:yellow;
  width: 50px;
  height: 50px;
}

/* video container */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* set up of the grey person */
#greycolored{
  display:flex;
  width: 550px;
  height:750px;
}

/* positioning of the frog link */
#movethefrog{
  display: flex;
  height:35px;
  width:35px;
  transform:translate(-330%,650%);
}

#gardenButton{
  width:160px;
  height:50px;
  background-color: lightgreen;
  color:darkgreen;
  visibility: visible;
}

#rainButton{
  width:160px;
  height:50px;
  background-color: blue;
  color:black;
  visibility: visible;
}

#inspireButton{
  width:160px;
  height:50px;
  background-color: purple;
  color:black;
  visibility: visible;
}

#gatewayButton{
  display:none;
  width:1px;
  height:1px;
  background-color: lavender;
  color:purple;
}

/* mobile responsive section */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
